* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    text-align: center;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer {
    padding: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2rem;
    font-weight: 100;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: #333;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 30%;
}
form span {
    margin: 0.5rem;
    font-size: 0.8rem;
}
form span a {
    margin-left: 0.5rem;
    color: #69a9d4;
}
input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
input:focus {
    border-color: #333;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    width: 100%;
}
a {
    text-decoration: none;
}
.btn {
    color: inherit;
    background-color: #333;
    color: #fff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    display: inline-block;
    width: 100px;
}
svg {
    width: 2rem;
    height: 2rem;
    fill: #333;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }
    .btn {
        background-color: #fff;
        color: #333;
    }
    svg {
        fill: #fff;
    }
}

@media screen and (max-width: 768px) {
    form {
        width: 60%;
    }
}
